@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;800;900&display=swap");
body {
    font-family: 'Public Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Public Sans", sans-serif;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.menu li {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.11px;
    color: #9597A5;
    cursor: pointer;
}

.btn {
    width: 163px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    color: white;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 600px;
}

.title {
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2d314d;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28px;
    color: #9597A5;
    padding: 24px 0 36px 0;
}

.secton1 {
    background-color: #F4F5F7;
}

.choose {
    padding: 96px 0px 94px 0px;
}

.ch-info {
    width: 635px;
}

.ch-info h2 {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    color: #2D314D;
}

.ch-info p {
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28px;
    color: #9597A5;
    padding-top: 16px;
}

.ch-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    margin-top: 72px;
}

.ch-box {
    width: 255px;
}

.ch-box h4 {
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.43px;
    color: #2d314d;
    padding-top: 40px;
}

.ch-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597a5;
    padding-top: 26px;
}

.section2 {
    background-color: #fafafa;
    height: 500px;
}

.box {
    width: 255px;
    border-radius: 5px;
    background-color: #ffffff;
}

.box-info {
    padding: 25px 24px 24px 24px;
}

.box-info p {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.16px;
    color: #9597a5;
}

.box-info h3 {
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.29px;
    color: #2d314d;
    padding-top: 8px;
    padding-bottom: 8px;
}

.box-info strong {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #9597a5;
}

.articles-title {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    color: #2d314d;
    padding-top: 80px;
    padding-bottom: 40px;
}

.articles-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin-top: 200px;
    background-color: #2D314D;
}

.bag-left {
    display: flex;
    align-items: center;
    column-gap: 131.67px;
}

.bag-left ul {
    color: #ffffff;
    line-height: 35px;
    list-style: none;
}

.bag-left ul li,
.bag-right p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.23px;
}

#icon {
    color: #ffffff;
    font-size: 20px;
}

.bag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0px;
}

.icons {
    margin-top: 55px;
}

.bag-right p {
    color: rgb(255, 255, 255);
    padding-top: 24px;
    opacity: 50%;
}